body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%;
}

.profilepic {
  border-radius: 100%;
  margin-top: 10px;
  height: 200px;
}

h1 {
  color: #AEFEFF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625em;
  position: relative;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #072227;
  font-size: 2.5rem;
  padding-bottom: 10px;
  font-weight: normal;
  text-align: center;
}

.h21 {
  font-family: 'Montserrat', sans-serif;
  color: #AEFEFF;
  margin: 0 auto 0 auto;
  font-size: 2.5rem;
  padding-bottom: 10px;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #AEFEFF;
  margin-bottom: 0;
}

p {
  color: #AEFEFF;
  margin-bottom: 0;
  margin-top: 10;
  line-height: 2;
}

.top {
  background-color: #072227;
  padding: 40px 0;
}

.topcl {
  position: absolute;
}

.middle {
  background-color: #35858B;
  padding-top: 50px

}

.profile{
  width: 50%;
  margin: 0px auto 100px auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact-me{
  width: 40%;
  margin: 40px auto 0px;
  padding-bottom: 60px;

}


.SAAimg {
  width: 25%;
  float: left;
  margin-right: 30px

}

.Supportimg {
  width: 25%;
  float: right;
  margin-left: 30px


}

.bottom {
  background-color: #4FBDBA;
  padding: 50px 0 20px
}

.hello {
  text-decoration: underline;
}

.cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.cloud2 {
  position: absolute;
  top: 250px;
  left: 250px
}

.btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 11px;
  background: #35858B;
  border: solid #072227 3px;
  text-decoration: none;
position: relative;
  top: 20px;
}

.btn:hover {
  background: #AEFEFF;
  text-decoration: none;
  top: 20
}
